**/.omo
node_modules
.next
out
dist
coverage
.env*
!.env.example
*.log
*.tsbuildinfo
.data
**/.DS_Store
**/.idea/
.worktrees/

# =========================
# IntelliJ IDEA / Android Studio
# =========================
.idea/
*.iml
*.ipr
*.iws
out/

# =========================
# Eclipse
# =========================
.project
.classpath
.settings/
.metadata/

# =========================
# VS Code
# =========================
.vscode/
.history/

# =========================
# NetBeans
# =========================
nbproject/private/
build/
dist/
nbbuild/
nbdist/
.nb-gradle/

# =========================
# STS (Spring Tool Suite)
# =========================
.springBeans
.sts4-cache/

# =========================
# Generic
# =========================
**/bin/
*.swp
*.swo
*~
